* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-image: url("/images/wp6402810-black-for-desktop-wallpapers.jpg");
    background-size: cover;
    background-position: calc(50% - -280px) 20%;
    color: #fff;
    border-bottom: 10px solid #f7c82e;
    box-shadow: 0px 10px 1px 0px rgba(0,0,0,0.12);
}

.container_de_datos {
    padding: 1rem;
    margin: 0 80px;
}
.datos_textuales, .foto_de_perfil {
    display: inline-block;
    vertical-align: middle;
    width: 49.8%;
    
}

.foto_de_perfil {
    text-align: right;
}

.datos_textuales h1 {
    margin-bottom: 4px;
}

.datos_textuales p {
    margin-bottom: 8px;
}

.foto_de_perfil img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
}

.frase_famosa {
    margin: 0 80px;
    padding: 1.5rem 1rem;
}

main {
    margin: 50px 80px;
}

section {
    margin: 16px 0;
    padding: 1rem;
}

section .title>img, section .title>h2 {
    display: inline-block;
    vertical-align: middle;
}

section .title>h2 {
    width: 30%;
    padding-left: 8px;
    padding-bottom: 6px;
    border-bottom: 2px solid black;
}

section .title>img {
    width: 50px;
    margin-right: 10px;
}

section p {
    margin: 6px 70px;
}

.about_me {
    border: 1px solid orange;
}

.education {
    border: 1px solid purple;
}

.skills {
    border: 1px solid royalblue;
}

.experience {
    border: 1px solid saddlebrown;
}

.books {
    border: 1px solid teal;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 4rem;
    text-align: center;
    border-top: 10px solid #f7c82e;
    box-shadow: 0px -10px 1px 0px rgba(0,0,0,0.12);
}

.redes {
    margin-top: 18px;
}

.redes li, li>img, li>p {
    display: inline-block; 
}

.redes li {
    margin: 0 10px;
}

li>img {
    width: 35px;
}

li>img, li>p {
    vertical-align: middle;
}

