* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url("https://motionbgs.com/i/c/364x205/media/3363/white-topography.jpg");
}

header {
    width: 100%;
    box-sizing: border-box;
    background-image: url("/images/wp6402810-black-for-desktop-wallpapers.jpg");
    background-size: cover;
    background-position: calc(50% - -50px) 17%;
    color: #fff;
    border-bottom: 10px solid #f7c82e;
    box-shadow: 0px 10px 1px 0px rgba(0,0,0,0.12);
}

.container_de_datos {
    padding: 1rem;
    margin: 0 80px;
}

.datos_textuales, .foto_de_perfil {
    display: inline-block;
    vertical-align: middle;
    width: 49.8%;
    
}

.foto_de_perfil {
    text-align: right;
    margin-top: 10px;
}

.datos_textuales h1 {
    margin-bottom: 4px;
}

.datos_textuales p {
    margin-bottom: 8px;
}

.foto_de_perfil img {
    width: 200px;
    border: 3px solid #f7c82e;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
}

.frase_famosa {
    margin: -20px 80px 12px;
    padding: 1.5rem 1rem;
}

main {
    margin: 60px 80px;
}

section {
    margin: 24px 0;
    padding: 1rem;
    background-color: #ffffffc0;
    backdrop-filter: blur(2.5px);
    border: 3px solid black; 
    border-radius: 20px; 
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.35);
}

section .title>img, section .title>h2 {
    display: inline-block;
    vertical-align: middle;
}

section .title>h2 {
    width: 40%;
    padding-left: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
}

section .title>img {
    width: 50px;
    margin-right: 10px;
}

section .text {
    margin: 6px 70px;
}

.school_list {
    list-style-type: none;
}

.school {
    margin: 1rem 0;

}

.skill {
    margin: 0.6rem 0;
}

.skill>h3, .skill>.rate {
    display: inline-block;
    vertical-align: middle;
}

.skill>h3 {
    font-size: 20px;
    width: 130px;
}

.skill .rate {
    margin-left: 8px;
}

.rate img{
    width: 24px;
}

.experience_list {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: #f7c82e;
}

.project {
    margin: 20px 0;
    text-decoration: none;
    color: #000;
    width: 920px;
}

.project:hover {
    background-color: #000000;
    border: 4px solid #f7c82e;
    color: #fff;
    padding: 1.3rem;
    border-radius: 20px;
    box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.25); 
}

.books>.text {
    margin: 1rem 70px;
}

.book {
    display: inline-block;
    margin-right: 40px;
    text-align: center;
}

.book img {
    width: 200px;
    border-radius: 8px;
    box-shadow: -6px 4px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 3px; 
}

footer {
    background-color: #000;
    color: #fff;
    padding: 5rem;
    text-align: center;
    border-top: 10px solid #f7c82e;
    box-shadow: 0px -10px 1px 0px rgba(0,0,0,0.12);
}

.redes {
    margin-top: 18px;
}

.redes li, .redes li>img, .redes li>p {
    display: inline-block; 
}

.redes li {
    margin: 0 10px;
    color: #fff;
}

.redes li>img {
    width: 35px;
}

.redes li>img, .redes li>p {
    vertical-align: middle;
}

